name: Github Actions CI   #name of the workflow
#
on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permission:
      content: read
      pages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      #Release Tag workflow begins
      - name: Setup git user
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

      - name: Generate next release tag
        id: tag
        run: |
          # Get latest existing tag (sorted by version)
          latest_tag=$(git ls-remote --tags origin | grep -o 'refs/tags/v.*' | sed 's#refs/tags/##' | sort -V | tail -n 1)
          latest_tag=${latest_tag:-v0.0.0}
          
          echo "Latest tag: $latest_tag"
          
          if [[ "$latest_tag" =~ ^v([0-9]+)\.([0-9]+)\.([0-9]+)$ ]]; then
            major=${BASH_REMATCH[1]}
            minor=${BASH_REMATCH[2]}
            patch=${BASH_REMATCH[3]}
          else
            major=0
            minor=0
            patch=0
          fi
          
          # Loop to find next available tag
          while true; do
            patch=$((patch + 1))
            new_tag="v$major.$minor.$patch"
            if ! git ls-remote --tags origin | grep -q "refs/tags/$new_tag$"; then
              break
            fi
          done
          
          echo "Using new tag: $new_tag"
          echo "new_tag=$new_tag" >> $GITHUB_OUTPUT
          
          # Tag and push
          git tag "$new_tag"
          git push origin "$new_tag"       #Tag workflow ends 
        

      - name: Setup JDK 24
        uses: actions/setup-java@v4
        with:
          java-version: '24'
          distribution: 'temurin'
          cache: maven

      - name: build application with maven
        run: mvn -B package -DskipTests

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: docker build -t taakujobi/java-app:${{ steps.tag.outputs.new_tag }} .

      - name: Push Docker image
        run: docker push taakujobi/java-app:${{ steps.tag.outputs.new_tag }}